*{
    margin: 0;
    padding: 0;

}

/*Esse backgroun é pra deixar gradiante*/

body{
    min-height: 100vh;
    background: linear-gradient(to bottom, black, #001a00, black);
   
    

}





h1 {
    font-family: 'JetBrains Mono', monospace;
     text-transform: uppercase;
     color: white;
     text-align: center;
     margin-top: 50px;
}

p{
    font-family: 'Fira Code', monospace;
    text-transform: none;
    color: white;
    margin-top: 30px;
    text-align: center;
    font-size: 25px;
   
}




.voltar{
       margin-top: 50px;
    font-family:'JetBrains Mono', monospace;
    display: inline-block;
    text-align: right;
    padding: 20px 20px;
    background-color: #00CC00;
    color: black;
    border-radius: 8px;
    font-weight: bolder;
    transition: 0.7s;
    text-decoration: none;
    
}

.voltar:hover{
      color: white;
      background-color: black;
}





.fotos{
    
    display: flex;
    justify-content: center;
    
}



.breno {
    
   
    gap: 80px;
    margin-top: 100px;
    padding: 0 20px;
}

.breno img {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    object-fit: cover;
    border: 5px solid #009900;
    
}

.breno:hover{
    transform: scale(1.05);
    


}






.ivan {
    
    gap: 80px;
    margin-top: 100px;
    padding: 0 20px;
}

.ivan img {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    object-fit: cover;
    border: 5px solid #009900;
    
}

.ivan:hover{
    transform: scale(1.05);
    


}




.cesar {
    
    gap: 80px;
    margin-top: 100px;
    padding: 0 20px;
}

.cesar img {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    object-fit: cover;
    border: 5px solid #009900;
    
}

.cesar:hover{
    transform: scale(1.05);
    


}

.nomes{
    
    font-size: 40px;
    letter-spacing: 2px;
    color:  white;
    margin-top: 60px;
    font-family: 'Fira Code', monospace;
   transition: 0.7s;
   text-decoration: underline;

   text-align: center;


    width: 0;
    overflow: hidden;
    white-space: nowrap;
    
    animation: digitar 2s steps(60) forwards;
}

@keyframes digitar {
    from {
        width: 10;
    }
    to {
        width: 100%;
    }
}


.nomes:hover{
    color: #00ff00;

}


