

*{
    margin: 0;
    padding: 0;

}

body{
    background-color: black;
   
    

}






h1 {
    font-family: 'JetBrains Mono', monospace;
}

p{
    font-family: 'Fire Code', monospace;
}









.feito{

    margin-top: 150px;
    color: white;
    text-align: center;
   font-family: 'JetBrains Mono', monospace;
   font-size: 40px;


}






.nomes{
    
    
    color: #009900;
    font-size: 50px;
    margin-top: 60px;
    font-family: 'Fire Code', monospace;
   

   text-align: center;


    width: 0;
    overflow: hidden;
    white-space: nowrap;
    
    animation: digitar 3s steps(60) forwards;
}

@keyframes digitar {
    from {
        width: 10;
    }
    to {
        width: 100%;
    }
}





.fotos{
    
    display: inline-flex;
    f
}




.breno {
    
   
    gap: 80px;
    margin-top: 100px;
    padding: 0 20px;
}

.breno img {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    object-fit: cover;
    border: 5px solid #009900;
     transition: transform 12s ease, filter 0.4s ease;
}

.breno:hover{
    transform: scale(1.05);
    


}






.ivan {
    
    gap: 80px;
    margin-top: 100px;
    padding: 0 20px;
}

.ivan img {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    object-fit: cover;
    border: 5px solid #009900;
     transition: transform 12s ease, filter 0.4s ease;
}

.ivan:hover{
    transform: scale(1.05);
    


}








.basico2{
    text-align: center;
   

 
}



.Basico{
    margin-top: 100px;
    font-family:'JetBrains Mono', monospace;
    display: inline-flex;
    margin-right: 30px;
    padding: 20px 20px;
    background-color: #00CC00;
    color: black;
    border-radius: 8px;
    font-weight: bolder;
    transition: 0.3s;
    
    

}

.Basico:hover{
    background-color: #009900;
    

}

