

*{
    margin: 0;
    padding: 0;

}

/*Esse backgroun é pra deixar gradiante*/

body{
    min-height: 100vh;
    background: linear-gradient(to bottom, black, #001a00, black);
   
    

}


/* Parte do header [menu] (irei começar a colocar esses comentários para ficar mais organizado*/


header {
    color: #00FF00;
  display: flex;
  justify-content: space-between; 
  align-items: center;
  padding: 20px 40px;
  background-color: black ;
}


nav {
  flex-grow: 1;
}

.listas{
  list-style: none;
  display: flex;
  justify-content: flex-end;
  gap: 30px; 



}


.listas li a {
  
  text-decoration: none;
  font-weight: bold;
  font-size: 20px;
  font-family: 'Fira Code', monospace;
  color: #00FF00;
  transition: 0.6s;
}


.listas li a:hover{
    color:  white;
}








h1 {
    font-family: 'JetBrains Mono', monospace;
     text-transform: uppercase;
}

p{
    font-family: 'Fira Code', monospace;
    text-transform: none;
   
}









.feito{

    margin-top: 150px;
    color: white;
    text-align: center;
   font-family: 'JetBrains Mono', monospace;
   font-size: 40px;


}






.nomes{
    
    font-size: 40px;
    letter-spacing: 2px;
    color: #00FF00;
    margin-top: 60px;
    font-family: 'Fire Code', monospace;
   transition: 0.7s;

   text-align: center;


    width: 0;
    overflow: hidden;
    white-space: nowrap;
    
    animation: digitar 3s steps(60) forwards;
}

@keyframes digitar {
    from {
        width: 10;
    }
    to {
        width: 100%;
    }
}


.nomes:hover{
    color: #009900;

}





.fotos{
    
    display: flex;
    justify-content: center;
    
}




.breno {
    
   
    gap: 80px;
    margin-top: 100px;
    padding: 0 20px;
}

.breno img {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    object-fit: cover;
    border: 5px solid #009900;
    
}

.breno:hover{
    transform: scale(1.05);
    


}






.ivan {
    
    gap: 80px;
    margin-top: 100px;
    padding: 0 20px;
}

.ivan img {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    object-fit: cover;
    border: 5px solid #009900;
    
}

.ivan:hover{
    transform: scale(1.05);
    


}








.basico2{
    text-align: center;
   

 
}



.Basico{
    margin-top: 100px;
    font-family:'JetBrains Mono', monospace;
    display: inline-flex;
    margin-right: 30px;
    padding: 20px 20px;
    background-color: #00CC00;
    color: black;
    border-radius: 8px;
    font-weight: bolder;
    transition: 0.3s;
    text-decoration: none;
    

}

.Basico:hover{
    background-color: #00FF00;
    

}

