* {
    margin: 0;
    padding: 0;



}




body{
      min-height: 100vh;
      background: linear-gradient(to bottom, black, #001a00, black);
   


}


h1{
      font-family: 'JetBrains Mono', monospace; 

}

p {
      font-family: 'Fira Code', monospace;
}


.voltar{
       margin-top: 50px;
    font-family:'JetBrains Mono', monospace;
    display: inline-block;
    text-align: right;
    padding: 20px 20px;
    background-color: #00CC00;
    color: black;
    border-radius: 8px;
    font-weight: bolder;
    transition: 0.7s;
    text-decoration: none;
    
}

.voltar:hover{
      color: white;
      background-color: black;
}




.h1{
      text-align: center;
      color: white;
      margin-top: 100px;
}


.p1{
      margin-top: 100px;
      text-align: center;
      color: white ;
      font-size: 32px;
}



.exercicios2{
      text-align: center;
}

.exercicios{
    text-decoration: none;
    margin-top: 270px;
    font-family:'Fira Code', monospace;
    display: inline-flex;
    margin-right: 30px;
    padding: 20px 20px;
    background-color: black;
    color: #00ff00;
    border-radius: 8px;
    font-weight: bolder;
    transition: 0.8s;
    flex-direction: column; 
    

}

.exercicios:hover{
      color: black;
     background-color: #00ff00;
     
}





.circulo{
       width: 250px;
    height: 250px;
    border-radius: 50%;
    object-fit: cover;
}



